<mat-toolbar color="primary">
    <mat-toolbar-row>
        <nav class="header-grid">
            <ul>
                <li><a routerLink="/home" [routerLinkActive]="['activeLink']">Home</a> </li>
                <li><a routerLink="/about" [routerLinkActive]="['activeLink']">About</a> </li>
                <li>
                    <img src="assets/icons/avatar.png" alt="Avatar Image">
                </li>
                <li><a routerLink="/skills" [routerLinkActive]="['activeLink']">Skills</a> </li>
                <li><a routerLink="/contact" [routerLinkActive]="['activeLink']">Contact</a> </li>
            </ul>
        </nav>
    </mat-toolbar-row>
</mat-toolbar>
