<div class="home-bg">

    <div class="text-area">
        <h1 aria-label='HELLO'>
            <span class="hover-effect">H</span>
            <span class="hover-effect">e</span>
            <span class="hover-effect">l</span>
            <span class="hover-effect">l</span>
            <span class="hover-effect">o</span>
            <span class="hover-effect">,</span>
            <br>
            <span class="hover-effect">I</span>
            <span class="hover-effect">'</span>
            <span class="hover-effect">m </span>
            <span class="hover-effect">i</span>
            <span class="hover-effect">o</span>
            <span class="hover-effect">v</span>
            <span class="hover-effect">a</span>
            <span class="hover-effect">n</span>
            <span class="hover-effect">n</span>
            <span class="hover-effect">n</span>
            <span class="hover-effect">i</span>
            <span class="hover-effect">,</span>
            <br>
            <span class="hover-effect">W</span>
            <span class="hover-effect">e</span>
            <span class="hover-effect">b </span>
            <span class="hover-effect">D</span>
            <span class="hover-effect">e</span>
            <span class="hover-effect">v</span>
            <span class="hover-effect">e</span>
            <span class="hover-effect">l</span>
            <span class="hover-effect">o</span>
            <span class="hover-effect">p</span>
            <span class="hover-effect">e</span>
            <span class="hover-effect">r</span>
        </h1>
        <h2>Front End Developer / Back End Developer</h2>
        <button mat-stroked-button color="primary">Say Hello!</button>
    </div>
    <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"> </particles>
</div>
