<div class="about-bg">

    <div class="page-grid">
        <div>
            <h1>About me</h1>
            <p>
                Professionally connected to the web development and information technology industry for a few years.
            </p>
            <p>
                Well organized person, problem solver, independent employee, with high attention to detail. Lover of reading, outdoor activities, TV series and new technological resources.
            </p>
            <p>
                Interested in the whole front-end spectrum, working with positive people and always trying to develop in the best way.
            </p>
        </div>
        <div></div>
        <div>
            <h2>Companies that I worked for</h2>
            <div>

            </div>
        </div>
    </div>

</div>
